@import "~bootstrap/scss/bootstrap.scss";

.container {
    width: 150px;
    height: 375px;
    margin: auto;
    border-radius: 10px;

}

.light {
    width: 100px;
    height: 100px;
    margin:  10px;
    border-radius: 50%;
    
}

.selected {
    box-shadow: 0px 0px 50px 20px lightyellow;
}
